@model IEnumerable<Project_09.Models.Batch>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-12">
        <h1 class="display-4">Total Batch List</h1>

        <div class="d-flex flex-row-reverse mb-1">
            <a asp-action="Create" class="btn btn-outline-primary btn-sm"><i class="fa fa-plus"></i> Create New</a>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.BatchName)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.BatchName)
                        </td>
                        <td style="width:100px" class="text-center">
                            <a class="btn btn-outline-secondary btn-sm" title="Edit this item" asp-action="Edit" asp-controller="Batches" asp-route-id="@item.BatchId"><i class="fa fa-pencil"></i></a>
                            <a class="btn btn-outline-warning btn-sm" title="Delete this item!" asp-action="Delete" asp-controller="Batches" asp-route-id="@item.BatchId"><i class="fa fa-trash"></i></a>


                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <div class="col-12">
        <div class="d-flex flex-row-reverse">
            <ul class="pagination pagination-sm">
                @if (ViewBag.Pager.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="Index" asp-controller="Batches" asp-route-pg="@(ViewBag.Pager.CurrentPage-1)"><i class="fa fa-long-arrow-left"></i></a>
                    </li>
                }
                @for (int i = 1; i <= ViewBag.Pager.TotalPages; i++)
                {
                    if (i == ViewBag.Pager.CurrentPage)
                    {
                        <li class="page-item active"><span class="page-link">@i</span></li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link"
                               asp-action="Index" asp-controller="Batches" asp-route-pg="@i">@i</a>

                        </li>
                    }

                }
                @if (ViewBag.Pager.CurrentPage < ViewBag.Pager.TotalPages)
                {

                    <li class="page-item">
                        <a class="page-link" asp-action="Index" asp-controller="Batches" asp-route-pg="@(ViewBag.Pager.CurrentPage+1)"><i class="fa fa-long-arrow-right"></i></a>
                    </li>

                }
            </ul>
        </div>
    </div>
</div>
@section Styles{
    <environment include="Development">
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />

    </environment>
}