@model Project_09.Models.Trainee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Trainee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TraineeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TraineeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TSP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TSP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Batch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Batch.BatchName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TraineeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
